includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
    level: 5
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Http\\Request::.*#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::.*#'
