parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
    ignoreErrors:
        # Laravel magic methods
        - '#Call to an undefined (static )?method Illuminate\\Database\\Eloquent\\Model::.*\(\)#'
        - '#Call to an undefined (static )?method Illuminate\\Database\\Eloquent\\Builder::.*\(\)#'
        - '#Call to an undefined (static )?method Illuminate\\Database\\Query\\Builder::.*\(\)#'
        - '#Access to an undefined property App\\Models\\.*::\$.*#'
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Factory::.*\(\)#'
        - '#Call to static method .*\(\) on an unknown class Log\.#'
        - '#Call to an undefined static method Spatie\\Activitylog\\Models\\Activity::.*\(\)#'
        - '#Call to protected method .*\(\) of class Illuminate\\Database\\Eloquent\\Model\.#'
        - '#Property .* is never read, only written\.#'
        - '#Undefined variable: \$this#'
        - '#Match expression does not handle remaining value: string#'
